.footerContainer {
  display: flex;
  justify-content: space-evenly;
  height: 58px;
  align-items: center;
  background: #b51717;
  color: white;
  font-size: larger;
}

.socialMediaContainer {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.socialMediaContainer p {
  display: none;
}

.phoneContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  /*   background-color: rgb(0, 0, 0);
 */
}

@media (min-width: 1024px) {
  .footerContainer {
    height: 68px;
    justify-content: space-between;
  }
  .socialMediaContainer {
    /* width: 700px; */
    /* background: black; */
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10px; */
  }
  .socialMediaContainer p {
    display: block;
    font-size: 35px;
  }
  .phoneContainer {
    width: 200px;
    margin-right: 20px;
  }
}
