.newsSectionContainer {
  height: 76vh;
}
.newsSectionContainer h1 {
  text-align: center;
  padding: 0.9rem 0rem;
}

.newPlaceInfoOuterContainer {
  display: flex;
  flex-direction: column;
  height: 21vh;
  align-items: center;
  justify-content: center;
  background-color: #fbffb0;
  border: 3px solid black;
  border-radius: 10px;
  /*   font-size: larger; */
}

.timeContainer {
  display: flex;
  justify-content: space-around;
}

.newPlaceInfoOuterContainer p {
  padding: 0.4rem 0.4rem;
}

.newPlaceInfoInnerContainer {
  width: 90%;
  height: 90%;
}

/* .tableShowOuterContainer {
  font-size: large;
} */

@media (min-width: 1024px) {
  .newsSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 580px;
  }

  .pickUpPlaceContainer {
    margin-right: 10px;
  }

  .newPlaceInfoOuterContainer {
    width: 670px;
    height: 400px;
  }

  .newsSectionContainer h1 {
    padding: 25px 25px;
  }

  .newPlaceInfoInnerContainer p {
    /*   font-size: 35px; */
    padding: 10px 10px;
  }

  .latestAddedItemsContainer {
    margin-left: 50px;
    /* background-color: bisque; */
  }

  .tableShowOuterContainer {
    width: 650px;
  }

  /* .tableShowOuterContainer th,
  tr,
  td {
    font-size: 30px;
  } */
}
