.newsSectionContainer {
  height: 76vh;
}
.newsSectionContainer h1 {
  text-align: center;
  padding: 0.9rem 0rem;
}

.newPlaceInfoOuterContainer {
  display: flex;
  flex-direction: column;
  /* height: 21vh; */
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #fbffb0;
  border: 3px solid black;
  border-radius: 10px;
}

.timeContainer {
  display: flex;
  justify-content: space-around;
}

.newPlaceInfoOuterContainer p {
  padding: 0.4rem 0.4rem;
}

.newPlaceInfoInnerContainer {
  width: 90%;
  height: 90%;
}

@media (min-width: 1024px) {
  .newsSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: anchor-center;
  }

  .pickUpPlaceContainer {
    margin-right: 0.7rem;
  }

  .newPlaceInfoOuterContainer {
    height: auto;
  }

  .newsSectionContainer h1 {
    padding: 1.6rem 1.6rem;
  }

  .newPlaceInfoInnerContainer p {
    padding: 0.6rem 0.6rem;
  }

  .latestAddedItemsContainer {
    margin-left: 4rem;
  }

  .tableShowOuterContainer {
    width: 50vw;
  }
}
