.newsSectionContainer {
  height: 76vh;
  align-content: center;
}

.pickUpPlaceContainer {
  margin-bottom: 1rem;
  justify-items: center;
}

.newsSectionContainer div h1 {
  padding: 0.9rem 0rem;
  text-align: center;
}

.newPlaceInfoOuterContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #fbffb0;
  border: 3px solid black;
  border-radius: 10px;
  width: 70vw;
}

.timeContainer {
  display: flex;
  justify-content: space-around;
}

.newPlaceInfoOuterContainer p {
  padding: 0.4rem 0.4rem;
}

.newPlaceInfoContainer {
  width: 90%;
  height: 90%;
}

@media (min-width: 1024px) {
  .newsSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: anchor-center;
  }

  .newPlaceInfoOuterContainer {
    width: unset;
  }
  .pickUpPlaceContainer {
    margin-right: 0.7rem;
  }

  .newsSectionContainer div h1 {
    padding: 1.6rem 1.6rem;
  }

  .newPlaceInfoContainer {
    width: auto;
    height: auto;
  }

  .newPlaceInfoContainer p {
    padding: 0.6rem 0.6rem;
  }

  .latestAddedItemsContainer {
    margin-left: 4rem;
  }
}
