.rootContentContainer {
  padding: 0px 10px 35px 10px;
}

.tabOuterContainer {
  display: flex;
  /*  gap: "1rem", */
  border-bottom: 2px solid #ccc;
  background: #b51717;
  padding: 7px;
  justify-content: space-around;
}

.tabBtn {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 70px 10px 70px;
  background: #ffad28;
  color: white;
  cursor: pointer;
}

.tabBtnActive {
  border-bottom: 2px solid blue;
  font-weight: bold;
}

.tabBtnDisabled {
  border-bottom: none;
  font-weight: normal;
}

@media (min-width: 1024px) {
  .rootContentContainer {
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
  }
  .tabOuterContainer {
    justify-content: center;
    gap: 8rem;
  }
}
