.darkLightToggleContainer {
  padding: 0.4rem;
}

.toDarkStyle {
  font-size: 0.8rem;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.toLightStyle {
  font-size: 0.8rem;
  color: black;
  background-color: white;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .darkLightToggleContainer {
    padding: 0.6rem;
  }
}
