.darkLightToggleContainer {
  padding: 0.5rem;
  font-size: 1rem;
}

.toDarkStyle {
  color: white;
  background-color: rgb(0, 0, 0);
}

.toLightStyle {
  color: black;
  background-color: white;
}

@media (min-width: 1024px) {
  .darkLightToggleContainer {
    padding: 0.6rem;
    font-size: 20px;
  }
}
