.showDateTimeContainer {
  display: flex;
  height: 2vh;
  background-color: #555555;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.showDateTimeContainer img {
  margin-right: 0.6rem;
}

@media (min-width: 1024px) {
  .showDateTimeContainer {
    max-height: 4vh;
    font-size: 0.9rem;
  }
}
