.createFormContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.createFormContainer label {
  text-align: center;
  padding: 5px 5px;
  /* font-size: large; */
}

.createFormContainer input {
  width: 80%;
  font-size: medium;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #000000;
  border-radius: 6px;
  /* font-size: larger; */
  background: antiquewhite;
  transition: border-color 0.2s;
}

.priceContainer {
  display: flex;
  align-items: baseline;
}
.priceContainer input {
  width: 120px;
  /*   margin-left: 120px;
 */
}

.submitBtnContainer {
  padding-top: 10px;
}
