.editItemFormContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.editItemFormContainer label {
  text-align: center;
  padding: 0.4rem 0.4rem;
  /* font-size: large; */
}

.editItemFormContainer input {
  width: 70%;
  font-size: medium;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #000000;
  /* border-radius: 6px; */
  /* font-size: larger; */
  background: antiquewhite;
  transition: border-color 0.2s;
}

.priceContainer {
  display: inline-flex;
  align-items: baseline;
  width: 40%;
}

.priceContainer span {
  margin-left: 0.5rem;
  font-size: large;
}

.submitBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

@media (min-width: 1024px) {
  .priceContainer {
    min-width: 30%;
  }

  .priceContainer input {
    width: 80px;
  }

  .priceContainer span {
    margin-left: 0.5rem;
    font-size: x-large;
  }
}
