.loginFormContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.loginFormContainer label {
  text-align: center;
  padding: 5px 5px;
  /* font-size: x-large; */
}

.loginFormContainer input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #000000;
  border-radius: 6px;
  font-size: larger;
  background: antiquewhite;
  transition: border-color 0.2s;
}

.passwordInputContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.showHideBtn {
  width: 60px;
  height: 50px;
  background: #000000;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 5px;
}

.submitBtnOuterContainer {
  display: flex;
  justify-content: center;
}

.submitBtn {
  width: 120px;
  height: 45px;
  background: #ffad28;
  /* font-size: larger; */
}

@media (min-width: 1024px) {
  .submitBtnOuterContainer {
    padding: 15px;
  }
}
