.tabNavContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  border-bottom: 1px solid #ccc;
  background-color: #b51717;
  padding: 10px 10px;
}

.navLink {
  padding: 0.5rem 1rem;
  font-size: large;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #ffad28;
}

.navLinkIsActive {
  font-weight: bold;
  border-bottom: 2px solid blue;
}

.navLinkIsNotActive {
  font-weight: normal;
  border-bottom: none;
}

@media (min-width: 1024px) {
  .tabNavContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .navLink {
    width: 150px;
    text-align: center;
  }
}
