.tabNavContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  border-bottom: 1px solid #ccc;
  background-color: #b51717;
  padding: 10px 10px;
}
.navLink {
  padding: 0.3rem 1rem;
  font-size: large;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #ffad28;
}
.navLinkIsActive {
  font-weight: bold;
  border-bottom: 2px solid blue;
}
.navLinkIsNotActive {
  font-weight: normal;
  border-bottom: none;
  color: white;
  opacity: 0.7;
}

@media (min-width: 1024px) {
  .tabNavContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .navLink {
    padding: 0.6rem 4rem;
  }
}
