.radiogroupContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 12px 12px;
  background-color: #d0d0d0;
}

.radiogroupContainer label {
  display: flex;
  width: 90px;
  justify-content: space-evenly;
  font-size: 1rem;
  /* background-color: brown; */
}

.radiogroupContainer input {
  transform: scale(1.2); /* Increase size of the selección circle */
}

@media (min-width: 1024px) {
  .radiogroupContainer label {
    font-size: 1.4rem;
    /* background-color: brown; */
  }
}
