.headerInnerContainer {
  display: flex;
  flex-direction: row;
  height: 5.8vh;
  justify-content: space-between;
  align-items: center;
}

.userLogoContainer {
  display: flex;
  align-items: center;
  padding-left: 0.2rem;
}

.userLogoContainer p {
  display: none;
}

@media (min-width: 1024px) {
  .userLogoContainer p {
    display: block;
    padding-left: 0.5rem;
  }
}
