.headerContainer {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  color: rgb(0, 0, 0);
  padding: 10px 0px 0px 0px;
  text-align: center;
  z-index: 1000;
  background-color: #ffffff;
}

.headerInnerContainer {
  display: flex;
  flex-direction: row;
  height: 62px;
  justify-content: space-between;
}

.headerInnerContainer img {
  padding-bottom: 5px;
}
