.searchSectionContainer {
  display: flex;
  flex-direction: column;
  height: 72vh;
  /* align-items: center; */
  /* background-color: white; */
  /* margin-top: 10px; */
}

.searchSectionInnerContainer {
  display: flex;
  flex-direction: column;
}

.searchbarOuterContainer {
  width: 100%;
}

.tableFilteredOuterContainer {
  /*   max-height: 100%; */
  overflow-y: auto;
  border: 1px solid #000000;
  /* background: red; */
  /* margin-top: 10px; */
}

@media (min-width: 1024px) {
  .searchSectionInnerContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d0d0d0;
    padding: 20px 20px;
  }
  .searchbarOuterContainer {
    width: 30%;
  }

  /* .tableFilteredOuterContainer {
      max-height: 100%;
  } */

  .radiogroupOuterContainer {
    width: 20%;
  }
}
