.container {
  display: flex;
  flex-direction: column;
  height: 680px;
  background-color: lightgrey;
}

.tableContainer {
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid #000000;
  /* background: red; */
  margin-top: 10px;
}
