.searchSectionContainer {
  display: flex;
  flex-direction: column;
  height: 72vh;
}

.searchSectionInnerContainer {
  display: flex;
  flex-direction: column;
}

.searchbarOuterContainer {
  width: 100%;
}

.tableFilteredOuterContainer {
  /*   max-height: 100%; */
  overflow-y: auto;
  border: 1px solid #000000;
  /* background: red; */
  /* margin-top: 10px; */
}

@media (min-width: 1024px) {
  .searchSectionContainerAdminShow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchSectionInnerContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d0d0d0;
  }

  .searchSectionInnerContainerAdminEdit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .searchbarOuterContainer {
    width: 15%;
  }
  /* fixed! */
  .searchbarOuterContainerAdminEdit {
    width: 20%;
  }

  /* searchSectioContainer */

  .tableFilteredOuterContainerAdminShow {
    width: 80%;
  }

  .radiogroupOuterContainer {
    /* width: 50%; */
  }
}
