.tableFilteredContainer {
  border-collapse: collapse;
  /* font-size: larger; */
}

.tableFilteredContainer thead {
  position: sticky;
  top: 0; /* or left/right/bottom */
  z-index: 10; /* optional: keep it above other content */
}

.tableFilteredContainer th {
  border: 1px solid #000000;
}

.tableFilteredContainer td {
  border: 1px solid #000000;
}

.tdImageDelete {
  background-color: red;
}
.tdImageDelete div {
  display: flex;
  justify-content: center;
}

.tdImageEdit {
  background-color: rgb(218, 149, 0);
}
.tdImageEdit div {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .tableFilteredContainer {
    width: 100%;
  }
}
