.container {
  width: 100%;
  border-collapse: collapse;
  font-size: larger;
}

.container thead {
  position: sticky;
  top: 0; /* or left/right/bottom */
  z-index: 10; /* optional: keep it above other content */
  background-color: rgb(133, 133, 133);
}

.container th {
  border: 1px solid #000000;
  font-size: x-large;
}

.container td {
  border: 1px solid #000000;
}

.tdImageDelete {
  background-color: yellow;
}
.tdImageDelete div {
  margin-left: 24px;
}

.tdImageEdit {
  background-color: rgb(238, 185, 61);
}
.tdImageEdit div {
  margin-left: 10px;
}
