.addPageContainer {
  display: flex;
  flex-direction: column;
  /*   text-align: center; */
  align-items: center;
}

.addVinylContainer {
  text-align: center;
}

.addVinylContainer h1 {
  padding: 0.8rem 0rem;
}

.latestAddedListContainer {
  text-align: center;
}

.latestAddedListContainer h1 {
  padding: 0.8rem 0rem;
  text-align: center;
}

.formOuterContainer {
  width: 95vw;
  background-color: #fbffb0;
  border: 2px solid black;
  border-radius: 5%;
}

/* .tableOuterContainer {
  margin: 0rem 0.2rem;
} */
@media (min-width: 1024px) {
  .addPageContainer {
    flex-direction: row;
    /*   text-align: center; */
    align-items: anchor-center;
    justify-content: center;
    height: 76vh;
  }

  .addVinylContainer {
    margin-right: 0.7rem;
  }

  .formOuterContainer {
    max-width: 20vw;
  }

  .latestAddedListContainer {
    margin-left: 4rem;
  }
}
