.addPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addPageVinylContainer {
  text-align: center;
}

.addPageVinylContainer h1 {
  padding: 0.8rem 0rem;
}

.addPageShowLatestItemsContainer {
  text-align: center;
}

.addPageShowLatestItemsContainer h1 {
  padding: 0.8rem 0rem;
  text-align: center;
}

.addPageFormOuterContainer {
  width: 95vw;
  background-color: #fbffb0;
  border: 2px solid black;
  border-radius: 5%;
}

@media (min-width: 1024px) {
  .addPageContainer {
    flex-direction: row;
    align-items: anchor-center;
    justify-content: center;
    height: 76vh;
  }

  .addPageVinylContainer {
    margin-right: 0.7rem;
  }

  .addPageFormOuterContainer {
    max-width: 20vw;
  }

  .addPageShowLatestItemsContainer {
    margin-left: 4rem;
  }
}
