.addPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: rgb(255, 255, 255); */
  text-align: center;
  align-items: center;
}

.addPageContainer h1 {
  padding: 12px 12px;
}
.formOuterContainer {
  height: 280px;
  width: 95%;
  background-color: #fbffb0;
  border: 2px solid black;
  border-radius: 5%;
}

.tableOuterContainer {
  margin: 0px 10px 0px 10px;
}

@media (min-width: 1024px) {
}
