.eventPageContainer {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.8rem;
  align-items: center;
}

.eventPageContainer h1 {
  text-align: center;
  padding-top: 2rem;
}

.formOuterContainer {
  width: 95vw;
  height: 52vh;
  background-color: #fbffb0;
  border: 2px solid black;
  border-radius: 5%;
  margin-top: 2.2rem;
}

@media (min-width: 1024px) {
  .formOuterContainer {
    width: 23vw;
    height: auto;
  }
}
