.container {
  display: flex;
  flex-direction: column;
}

.container h1 {
  text-align: center;
  padding: 12px 12px;
}

.searchContainer {
  padding: 0px 14px 0px 14px;
}

.dialogContainer {
  display: flex;
  align-items: center;
  width: 300px;
  height: 600px;
}
